<h1 class="text-3xl font-bold text-center text-[#444] mt-8 mb-6">サイズ予測結果</h1>

<div class="bg-[#FFFCF4] py-8 px-4">
<div class="container mx-auto bg-white p-6 rounded-lg shadow-lg">

  <!-- 測定結果 -->
  <div class="bg-gray-100 p-4 rounded-lg shadow-md text-center">
    <h2 class="text-xl font-semibold text-green-600">測定結果</h2>
    <p class="text-lg font-bold">
      現在の身長: <%= sprintf("%.1f", params[:current_height].to_f) %> cm
    </p>
  </div>

  <!-- 季節ごとの予測結果 -->
  <% seasonal_data = params[:seasonal_data].sort_by { |data| data["days"].to_i } %>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-6">
    <% seasonal_data.each do |data| %>
      <% 
        season_class = case data[:season]
                       when 'spring' then 'bg-green-100 border border-green-500'
                       when 'summer' then 'bg-yellow-100 border border-yellow-500'
                       when 'autumn' then 'bg-orange-100 border border-orange-500'
                       when 'winter' then 'bg-blue-100 border border-blue-500'
                       else 'bg-white border'
                       end
      %>
      <div class="<%= 'p-4 rounded-lg shadow-md text-center ' + season_class %>">
        <h2 class="text-lg font-semibold">
          <%= case data[:season]
               when 'spring' then "春の予測"
               when 'summer' then "夏の予測"
               when 'autumn' then "秋の予測"
               when 'winter' then "冬の予測"
               end %>
        </h2>
        <p class="text-md font-bold">
          <%= case data[:season]
               when 'spring' then "春"
               when 'summer' then "夏"
               when 'autumn' then "秋"
               when 'winter' then "冬"
               end %>: <%= sprintf("%.1f", data[:height]) %> cm（あと <%= data[:days] %> 日）
        </p>
      </div>
    <% end %>
  </div>

  <!-- ホームへ戻るボタン -->
  <div class="text-center mt-6">
    <%= link_to "ホームに戻る", root_path, class: "btn bg-green-500 text-white rounded-lg px-6 py-2" %>
  </div>
</div>
</div>
