<div class="navbar bg-[#FFC775] shadow-sm text-white">
  <div class="flex-1">
    <%= link_to "GrowFitty", root_path, class: "btn btn-ghost text-xl text-white hover:text-white" %>
  </div>
  <div class="flex-none flex items-center gap-2">
    <!-- ログイン・新規登録ボタン -->
    <div class="flex items-center gap-x-2">
      <%= link_to "ログイン", new_user_session_path, class: "btn text-white border-none bg-[#EF6C00] hover:bg-[#d95f00]" %>
      <%= link_to "新規登録", new_user_registration_path, class: "btn text-white border-none bg-[#FF6164] hover:bg-[#e8575a]" %>
    </div>

  <!-- ハンバーガーメニュー -->
    <div class="dropdown dropdown-end">
        <div class="flex-none">
          <button class="btn btn-square btn-ghost text-white hover:bg-[#f7b64d]">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="inline-block h-5 w-5 stroke-current">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
          </button>
        </div>
    <!-- ドロップダウン内容 -->
       <ul
          tabindex="0"
          class="menu dropdown-content bg-white text-black rounded-box z-[1] mt-4 w-52 p-2 shadow">
            <li>
              <%= link_to "ログイン", new_user_session_path %>
            </li>
            <li>
              <%= link_to "新規登録", new_user_registration_path %>
            </li>
            <li>
              <%= link_to "アプリの使い方（改修中）", "#" %>
            </li>
            <li>
              <%= link_to "コーディネート一覧/検索（改修中）", "#" %>
            </li>
            <li>
              <%= link_to "利用規約", terms_path %>
            </li>
            <li>
              <%= link_to "プライバシーポリシー", privacy_path %>
            </li>
            <li>
              <%= link_to "お問い合わせ", contact_path %>
            </li>
      </ul>
    </div>
  </div>
</div>