<footer class="footer fixed bottom-0 left-0 right-0 p-4 bg-base-200 text-base-content">
  <div class="flex justify-center w-full gap-6">

    <%= link_to root_path, class: "btn btn-ghost text-lg flex flex-col items-center" do %>
      <i class="fa-solid fa-house"></i>
      <span class="ml-2">ホーム</span>
    <% end %>

    <%= link_to "#", class: "btn btn-ghost text-lg flex-col items-center" do %>
      <i class="fa-solid fa-magnifying-glass"></i>
      <span class="ml-2">検索</span>
    <% end %>

    <%= link_to "#", class: "btn btn-ghost text-lg flex-col items-center" do %>
      <i class="fa-regular fa-square-plus text-2xl"></i>
      <span class="ml-2">投稿</span>
    <% end %>

    <%= link_to "#", class: "btn btn-ghost text-lg flex-col items-center" do %>
      <i class="fa-solid fa-bookmark"></i>
      <span class="ml-2">ブックマーク</span>
    <% end %>

    <%= link_to members_mypage_path, class: "btn btn-ghost text-lg  flex-col items-center" do %>
      <i class="fa-solid fa-user"></i>
      <span class="ml-2">マイページ</span>
    <% end %>

  </div>
</footer>