<footer class="footer fixed bottom-0 left-0 right-0 p-4 bg-[#FFC775] text-white z-10">
  <div class="flex justify-around items-center w-full max-w-screen-md mx-auto px-4">

    <%= link_to root_path, class: "flex flex-col items-center text-white text-xs" do %>
      <i class="fa-solid fa-house text-2xl"></i>
      <span class="whitespace-nowrap text-[12px]">ホーム</span>
    <% end %>

    <%= link_to posts_path, class: "flex flex-col items-center text-white text-xs" do %>
      <i class="fa-solid fa-magnifying-glass text-2xl"></i>
      <span class="whitespace-nowrap text-[12px]">検索</span>
    <% end %>

    <%= link_to new_post_path, class: "flex flex-col items-center text-white text-xs" do %>
      <i class="fa-solid fa-square-plus text-2xl"></i>
      <span class="whitespace-nowrap text-[12px]">投稿</span>
    <% end %>

    <%= link_to bookmarks_posts_path, class: "flex flex-col items-center text-white text-xs" do %>
      <i class="fa-solid fa-bookmark  text-2xl"></i>
      <span class="whitespace-nowrap text-[12px]">ブックマーク</span>
    <% end %>

    <%= link_to members_mypage_path, class: "flex flex-col items-center text-white text-xs" do %>
      <i class="fa-solid fa-user  text-2xl"></i>
      <span class="whitespace-nowrap text-[12px]">マイページ</span>
    <% end %>

  </div>
</footer>